@import "tailwindcss";

@theme {
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 992px;
  --breakpoint-desktop: 1440px;
  --breakpoint-desktop-xl: 1919px;

  --font-montserrat: Montserrat, sans-serif;
  --font-scada: var(--font-scada), sans-serif;
  --font-roboto: var(--font-roboto), sans-serif;
  --font-roboto-condensed: var(--font-robotoCondensed), sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  * {
    @apply font-roboto box-border text-base font-normal text-inherit;
  }
  input {
    @apply outline-none;
  }
}
