@import "tailwindcss";

@theme {
  --color-black: #0a0a0a;
  --color-soft-blush: #f9efec;
  --color-warm-gray: #b3b3b2;
  --color-medium-gray: #828282;
  --color-dark-gray: #3b3f32;
  --color-light-gray: #f2f2f2;
  --color-accent: #ffd700;
  --color-auth-text: #21272a;
  --color-auth-input-border: #c1c7cd;
  --color-auth-input-bg: #f2f4f8;
  --color-auth-surface-border: #dde1e6;
  --color-auth-primary: #0f62fe;
  --color-neutral: #0d0d0d;

  --breakpoint-mobile: 23.4375rem; /* 375px */
  --breakpoint-tablet: 48rem; /* 768px */
  --breakpoint-desktop: 62rem; /* 992px */

  --font-montserrat: Montserrat, sans-serif;
  --font-scada: var(--font-scada), sans-serif;
  --font-roboto: var(--font-roboto), sans-serif;
  --font-roboto-condensed: var(--font-robotoCondensed), sans-serif;

  --animate-fade-in: fade-in 300ms ease-out forwards;
  --animate-fade-out: fade-out 300ms ease-in forwards;
  --animate-fade-in-opacity: fade-in-opacity 300ms ease-out forwards;
  --animate-fade-out-opacity: fade-out-opacity 300ms ease-in forwards;

  @keyframes fade-in {
    from {
      width: 0;
    }
    to {
      width: 400px;
    }
  }

  @keyframes fade-out {
    from {
      width: 400px;
    }
    to {
      width: 0;
    }
  }
  @keyframes fade-in-opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }
  @keyframes fade-out-opacity {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }
  --font-road-ui: var(--font-road-ui), sans-serif;
  --font-ermilov: var(--font-ermilov), sans-serif;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  * {
    @apply font-road-ui box-border text-base font-normal text-inherit;
  }
  input {
    @apply outline-none;
  }
}

html {
  scroll-behavior: smooth;
}

.animation-marquee {
  animation: marquee 30s linear infinite; 
  will-change: transform;
  display: flex;
  width: max-content; 
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
